# Task1
Write a Python program to add an item to a tuple.

In [1]:
tuple_x=(4,6,1,2,3)
print("Original Tuple", tuple_x)
##Adding an element at the end of tuple
tuple_x = tuple_x + (9,)
##Adding items at a specific index in the tuple; insrt (10, 5) between the dirst six elements and duplicates the original six elements 
tuple_x= tuple_x[:6] +(10,5)+tuple_x[:6]
print(tuple_x)
tuple_x= tuple_x[:6] +(10,5)
print(tuple_x)

Original Tuple (4, 6, 1, 2, 3)
(4, 6, 1, 2, 3, 9, 10, 5, 4, 6, 1, 2, 3, 9)
(4, 6, 1, 2, 3, 9, 10, 5)

# Task2
Write a Python program to sum all the items in a list.

In [8]:
def summ_list(items):
    sum_num=0
    for x in items:
        sum_num += x
    return sum_num
print(summ_list([1,2,3,0,5]))

11

# Task3
Write a Python program to multiply all the items in a list.

In [9]:
def mul_list(items):
    mul_num=1
    for x in items:
        mul_num = mul_num * x
    return mul_num
print(mul_list([1,2,3]))

6

# Task4
Write a Python program to get the smallest number from a list.

In [11]:
lst=[int(lst) for lst in input ("List").split(",")]
print("The list is ", lst)

min=lst[0]
for i in range(len(lst)):
    if lst[i]< min :
        min= lst[i]
print("The smallest element in the list is " , min)

List 1,2,3,6,5,0

The list is  [1, 2, 3, 6, 5, 0]
The smallest element in the list is  0

# Task5
Write a Python program to get the largest number from a list.

In [14]:
lst=[int(lst) for lst in input ("List").split(",")]
print("The list is ", lst)
max=lst[0]
for i in range(len(lst)):
    if lst[i] > max :
        max= lst[i]
print("The largest element in the list is " , max)

List 1,200,400,500

The list is  [1, 200, 400, 500]
The largest element in the list is  500

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [3]:
test_list=['Egypt', 'UK','Genmany', 'UAE','Qatar','Italy']
#subs='Egypt'

def len_word(L):
    for word in L:
        print(f"The length of {word} is {len(word)}")
len_word(test_list)

The length of Egypt is 5
The length of UK is 2
The length of Genmany is 7
The length of UAE is 3
The length of Qatar is 5
The length of Italy is 5

# Task7
Write a Python program to clone or copy a list

In [29]:
org_lst=[1,3,5,7,9]
n_lst=list(org_lst)
print (n_lst)
print(org_lst)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [5]:
s=set([0,1,3,4,5])
print(s)
s.pop()
print(s)
s.pop()
print(s)

{0, 1, 3, 4, 5}
{1, 3, 4, 5}
{3, 4, 5}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [7]:
set_test=(1,5,7,13,20,40,20,10)
print("My original set= ", set_test)
print("Max value on list is", max(set_test))
print("Min value on list is", min(set_test))

My original set=  (1, 5, 7, 13, 20, 40, 20, 10)
Max value on list is 40
Min value on list is 1

# Task10
Write a Python program to convert a tuple to a dictionary.

In [8]:
t_tup1=('A','B','D','Z')
t_tup2=(1,2,3,4)
if len(t_tup1) == len(t_tup2):
    my_dict=dict(map(lambda x,y: (x,y) , t_tup1,t_tup2))

print("Dictionry constructed from tuples:" + str(my_dict))

Dictionry constructed from tuples:{'A': 1, 'B': 2, 'D': 3, 'Z': 4}

# Task11
Write a Python program to reverse a tuple.

In [16]:

def rev_tup(tup):
    new_tup= tup[::-1]
    return f"Reversed tuple:{new_tup}"
    
tup=('z','w','x','j','@','$')
print(rev_tup(tup))

Reversed tuple:('$', '@', 'j', 'x', 'w', 'z')

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [25]:

lst_of_tup=[('x',1),('g',2),('anf',4),('zx',9)]
dictionary= {}

for key , val in lst_of_tup:
    dictionary.setdefault(key,val)
print(dictionary)

{'x': 1, 'g': 2, 'anf': 4, 'zx': 9}

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [28]:
lst=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1]+(100,) for t in lst])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6student_name$^$%#"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "student_name"

In [109]:
var_name = "%%6student_name^%#"
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\;:',.<>/?~"


c_name=''.join(i for i in var_name if i not in illegal_chars)
print(c_name)
##or

for i in var_name:
    if i not in illegal_chars:
        print(i,end="")

student_name
student_name

In [76]:
var_name = "%%6student_name^%#"


#print(var_name.translate({ord('%'):None} and {ord('6'):None} and {ord('^'):None} and {ord('#'):None}))
x=var_name.translate({ord('%'):None})
y=x.translate({ord('6'):None})
z=y.translate({ord('^'):None})
print(z.translate({ord('#'):None}))

%%6student_name^%
student_name

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [106]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_numbers = [num for num in numbers if num % 2 == 0]
odd_numbers = [num for num in numbers if num % 2 != 0]

print("Number of even numbers: ",",".join(map(str,even_numbers)))    
print("Number of odd numbers :", ",".join(map(str, odd_numbers)))

Number of even numbers:  2,4,6,8
Number of odd numbers : 1,3,5,7,9

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [101]:
for fizzbuzz in range(51):
    if fizzbuzz %3 ==0 and fizzbuzz%5 ==0:
        print("FizzBuzz")
        continue
    elif fizzbuzz%3 ==0:
        print("Fizz")
        continue
    elif fizzbuzz%5 ==0:
        print("Buzz")
        continue
    print(fizzbuzz)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?

In [ ]:
I learned about Arthimatic operation, comparison,logical (and,or,not), if condition, list(how to add or remove ) m tuples and set with their functions