#### Multiply 10 with 5, and print the result.

In [1]:
x=10*5
print(x)

50

### Divide 10 by 2, and print the result.

In [2]:
a=10/2
print(a)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [2]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']

if "apple" in fruits :
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [ ]:
5 != 10

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
or

### Print the second item in the fruits list.

In [5]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
print(fruits[1])

cherry

### Change the value from "apple" to "kiwi", in the fruits list.

In [7]:
fruits[0]="kiwi"
print(fruits)

['kiwi', 'cherry', 'bannana', 'watermelon']

### Use the append method to add "orange" to the fruits list.

In [ ]:
fruits.append("orange")

### Use the insert method to add "lemon" as the second item in the fruits list.

In [9]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'cherry', 'bannana', 'watermelon']

### Use the remove method to remove `"banana"` from the fruits list.

In [15]:
fruits= ['apple', 'lemon', 'cherry', 'bannana', 'watermelon']
fruits.remove('bannana')
print(fruits)

['apple', 'lemon', 'cherry', 'watermelon']

### Use negative indexing to print the last item in the list.

In [16]:
print(fruits[-1])

watermelon

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [21]:
fruits= ['apple', 'lemon', 'cherry', 'bannana', 'watermelon']
print(fruits[2:5:1])

['cherry', 'bannana', 'watermelon']

### Use the correct syntax to print the number of items in the list.

In [22]:
len(fruits)

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [26]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]

for x in numbers:
    if x==237 :
        print(x)
        break
    elif x%2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
237

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [23]:
base=int(input("Enter base of triangle: "))
height=int(input("Enter height of triangle: "))
area=0.5*(base*height)
print("area=",area)

Enter base of triangle:  15
Enter height of triangle:  10

area= 75.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [27]:
a=int(input("Enter first num= "))
b=int(input("Enter second num= "))
c=int(input("Enter third num= "))

x= min(a,b,c)
y=max(a,b,c)
z=(a+b+c)-y-x
print("Number in sorted ordder :", x, z, y)

Enter first num=  8
Enter second num=  7
Enter third num=  3

Number in sorted ordder : 3 7 8

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [31]:
data= [2,4,5,5,7,9]
if len (data) == len (set(data)):
    print("True")
else:
    print("False")

False

#### Dictionary

In [33]:
#Return all keys 
dict1 = {'a': 100, 'b': 200, 'c': 300}
dict1.keys()

dict_keys(['a', 'b', 'c'])

In [40]:
#Return all Values
dict1 = {'a': 100, 'a': 200, 'c': 300}
dict1.values()

dict_values([200, 300])

In [41]:
#Return a list of tuple
dict1 = {'a': 100, 'a': 200, 'c': 300}
dict1.items()

dict_items([('a', 200), ('c', 300)])

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [49]:
d={'a':100, 'b':200 , 'c':300}
list= []
for i in d:
    list.append(d[i])
sum_d=sum(list)
print("Summation=", sum_d)

Summation= 600

In [50]:
inp= {'x': 25, 'y':18, 'z':45}
list_2= []
for i in inp:
    list_2.append(inp[i])
sum_inp=sum(list_2)
print("Summation=", sum_inp)

Summation= 88

### Calculate the sum of all numbers from 0 to a given number

In [32]:
x = int(input('enter a number: '))
print(int(x*(x+1)/2))

enter a number:  5

15

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [53]:

num=int(input("Enter your number: "))
fact=1
i=1
while i<= num:

    fact=fact*i
    i+=1
print(f"FACTORIAL OF num {num} = ", fact)

Enter your number:  4

FACTORIAL OF num 4 =  24

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [119]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in range(1,len(my_list),2):
    print(my_list[i],end=" ")

20 40 60 80 100

### len of str in list
### ['apple', 'orange', 'cat']

In [54]:
l = ['apple', 'orange', 'cat']
print(len(l))

3

### program to count number of vowels using sets in given string

In [77]:
vowels = ['a','e','i','o','u']
string = input('enter a word: ')
j=0
for alp in string :
    if alp in vowels: 
        j=j+1   
print ("Number of vowls=", j)

enter a word:  cvxa

Number of vowls= 1


### Write a Python program to add an item to a tuple.

In [85]:
tuple1 = (1,3,5)
item = 10

tuple1= tuple1+(item ,)
print(tuple1)

(1, 3, 5, 10)

### Write a Python program to multiply all the items in a list.

In [86]:
#lst = [1, 3, 5, 2]

def mul_list(lst):
    t=1
    for x in lst :
        t *= x
    return t

print(mul_list([1,3,5,2]))

30

### Write a Python program to get the smallest number from a list.

In [87]:
lst = [1, 3, 5,1,1000, 2]
lst.sort()
print("Smallest number is = ", lst[0])

Smallest number is =  1

### Write a Python program to get the largest number from a list.

In [89]:
lst = [1, 3, 5,1,1000, 2]
lst.sort()
print("Largest number is= ", lst[-1])

Largest number is=  1000

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [90]:
s = set([0, 1, 3, 4, 5])
print("original set", s)
s.pop()
print("Set after removing the first element from ", s)

original set {0, 1, 3, 4, 5}
Set after removing the first element from  {1, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [91]:
set1 = {1,8,4,3,2,6}
print("The max number in list", max(set1))
print("The min number in list", min(set1))

The max number in list 8
The min number in list 1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

enumerate() returns a value and its index in the itterable (value,index)

In [117]:
dict1={}
tuple_1 = ('name','age','city','city')    #output {'name': 0, 'age': 1, 'city': 3}
# values = (1,2,3,4)
dict1=dict.fromkeys(tuple_1,1)
#print(str(dict1))
dict1['age']=2
dict1['city']=3
#dict1['city']=4
print(dict1)
print(dict1.values())
for index, value in enumerate(dict1):
    #print(index, value, dict1[value])
    print(dict1[value])

{'name': 1, 'age': 2, 'city': 3}
dict_values([1, 2, 3])
1
2
3